a {
  color: #006bb3;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #c58e0e;
  text-decoration: none;
}

body,td,th,tr,p,a{
  font-family: 'Times New Roman', Times, serif;
}


body,
td,
th,
tr{
  font-size: 18px;
}

p {
  font-size: 18px;    
}

a {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px
}

strong {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

papertitle {
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 700
}

name {
  font-family: "Computer Modern", 'Times New Roman', Times, serif;
  font-size: 40px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #bdffee;
}